<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Citrus IT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <ion-grid style="text-align: center; margin-top:100px;">
    <ion-row>



      <ion-col size-md="4" size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>What We Do</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            At Citrus IT we believe that technology is the collection of techniques, skills, methods and

processes used in the production of goods or services or in the accomplishment of objectives, such as scientific investigation.

Technology can be the knowledge of techniques, processes, and the like, or it can be embedded in machines, computers, devices, and factories.
          </ion-card-content>
          <div>
            <ion-img src="./assets/img/us.jpg"></ion-img>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size-md="4" size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Why Us</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            At Citrus IT we are dedicated to creating and implementing the highest quality tailor-made software,

enabling you to focus on improving and growing your business. To achieve this, we work closely with you to gain an in-depth understanding

of your requirements, your business and your goals. Furthermore, we believe that an outstanding service and continued communication with the

client are the key to success and our team is always at your disposal to meet your expectations.
          </ion-card-content>
          <div>
            <ion-img src="./assets/img/us2.jpg"></ion-img>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size-md="4" size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>About Us</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Citrus IT is a software development company which provides all services required for a successful project launch.

Our team consists of well-educated, well-trained and highly skilled professionals who work hard and constantly try to improve our standard of service to deliver

the software you need. We are always eager to provide the finest solutions in order to satisfy our clients.
          </ion-card-content>
          <div>
            <ion-img src="./assets/img/us3.jpg"></ion-img>
          </div>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
  
</ion-content>
